In [1]:
import requests
import json
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Tabla de seasons

In [2]:
seasons= {'season':[],
         'url':[]}

In [3]:

    url='http://ergast.com/api/f1/seasons.json?limit=1000'
    response=requests.get(url)
    json=response.json()
        
    for i in json['MRData']['SeasonTable']['Seasons']:
        seasons['season'].append(int(i['season']))
        seasons['url'].append(i['url'])

In [4]:
#json['MRData']['SeasonTable']['Seasons']

In [5]:
pd.DataFrame(seasons).to_csv('seasons', index= False)

In [5]:
#content.keys()


#content
#content['MRData'].keys()
#content['MRData']['RaceTable']['Races']
lastyear=np.max(seasons['season'])+1
lastyear

2024

### Tabla de races

In [9]:
races= {'season':[],#entero xxxxxxxxxx
       'round': [],
        'racename':[],#entero xxxxxxxxxxxxx
        'circuit_id':[],#letras y dentro de diccionario 'Circuit'
        'lat':[],#letras y dentro de diccionario'Circuit'- 'Location'
   'long': [],#letras y dentro de diccionario 'Circuit'-'Location'
   'country':[],#letras y dentro de diccionario 'Circuit''Location'
 'date': [],#fecha
 #'FirstPractice': [],#Extraer fecha y dentro de diccionario 'FirstPractice'
 #'SecondPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 #'ThirdPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 #'Qualifying': [],#Extraer fecha y dentro de diccionario 'Qualifying'
        'url':[]#letra xxxxxxx
       }

In [10]:
for year in list(range(2010,lastyear)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    json=response.json()
        
    for i in json['MRData']['RaceTable']['Races']:
        races['season'].append(int(i['season']))
        races['round'].append(int(i['round']))
        races['racename'].append(str(i['raceName']))
        races['circuit_id'].append(i['Circuit']['circuitId'])
        races['lat'].append(i['Circuit']['Location']['lat'])
        races['long'].append(i['Circuit']['Location']['long'])
        races['country'].append(i['Circuit']['Location']['country'])
        races['date'].append(i['date'])
        races['url'].append(i['url'])
       # try:
        #    races['FirstPractice'].append(i['FirstPractice']['date'])
         #  races['SecondPractice'].append(i['SecondPractice']['date'])
          #  races['ThirdPractice'].append(i['ThirdPractice']['date'])
           # races['Qualifying'].append(i['Qualifying']['date'])
        #except:
         #   races['FirstPractice'].append(None)
          #  races['SecondPractice'].append(None)
           # races['ThirdPractice'].append(None)
            #races['Qualifying'].append(None)

In [11]:
pd.DataFrame(races).to_csv('races', index= False)

In [12]:
pd.DataFrame(races)

,season,round,racename,circuit_id,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
277,2023,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2023-10-22,https://en.wikipedia.org/wiki/2023_United_Stat...
278,2023,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2023-10-29,https://en.wikipedia.org/wiki/2023_Mexico_City...
279,2023,21,SÃ£o Paulo Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2023-11-05,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...
280,2023,22,Las Vegas Grand Prix,vegas,36.1147,-115.173,United States,2023-11-19,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...
281,2023,23,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2023-11-26,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...

### Tabla de drivers

In [20]:
drivers = {'driverId':[],
          'code':[],
          'forename':[],
          'surname':[],
          'dob':[],
          'nationality':[],
          'url':[]}

In [21]:
for year in list(range(2010,lastyear)):
    url='http://ergast.com/api/f1/{}/drivers.json?limit=10000'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(i['driverId'])
        drivers['code'].append(i['code'])
        drivers['forename'].append(i['givenName'])
        drivers['surname'].append(i['familyName'])
        drivers['dob'].append(i['dateOfBirth'])
        drivers['nationality'].append(i['nationality'])
        drivers['url'].append(i['url'])

In [22]:
pd.DataFrame(drivers)

,driverId,code,forename,surname,dob,nationality,url
0,alguersuari,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,alonso,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,barrichello,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,buemi,BUE,SÃ©bastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...,...
319,sargeant,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
320,stroll,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
321,tsunoda,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
322,max_verstappen,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
323,zhou,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [23]:
pd.DataFrame(drivers).to_csv('Drivers', index = False)

### Tabla de Qualifying. Al parecer sÃ³lo tenemos informaciÃ³n de las primeras 2 clasificaciones de cada aÃ±o.

In [25]:
url='http://ergast.com/api/f1/2010/qualifying.json?limit=1000000'
response=requests.get(url)
jsonraces=response.json()
#jsonraces['MRData']['RaceTable']['Races']

In [9]:
Qualifying={'season':[],
            'round':[],
            'racename':[],
            'circuitId':[],
           # 'QualifyingResults': [],
            'number':[],
            'position':[],
            'driverId':[],
            'constructorId':[],
            'Q1':[],
            'Q2':[],
            'Q3':[]
           }

In [10]:
for year in list(range(2010,lastyear)):
    url= 'http://ergast.com/api/f1/{}/qualifying.json?limit=1000000'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['RaceTable']['Races']:
            
            for x in i['QualifyingResults']:
                Qualifying['season'].append(i['season'])
                Qualifying['round'].append(i['round'])
                Qualifying['racename'].append(i['raceName'])
                Qualifying['circuitId'].append(i['Circuit']['circuitId'])
                Qualifying['number'].append(x['number'])
                Qualifying['position'].append(x['position'])
                Qualifying['driverId'].append(x['Driver']['driverId'])
                Qualifying['constructorId'].append(x['Constructor']['constructorId'])
                Qualifying['Q1'].append(x['Q1'])
                
                try:
                    Qualifying['Q2'].append(x['Q2'])
                    Qualifying['Q3'].append(x['Q3'])
                except:
                 #   Qualifying['Q1'].append(None)                     
                    Qualifying['Q2'].append(None)
                    Qualifying['Q3'].append(None)
      #  QualifyingResults': []',

In [26]:
#Qualifying.pop('Q2') Lo utilicÃ© para quitar la columna de Q2 del data frame ya que no contiene los mismos valores

In [35]:
Q2 =[i for i in Qualifying['Q2'] if i is not None]

In [13]:
pd.DataFrame(Qualifying).to_csv('Qualifying', index=False)

In [12]:
pd.DataFrame(Qualifying)

,season,round,racename,circuitId,number,position,driverId,constructorId,Q1,Q3
0,2010,1,Bahrain Grand Prix,bahrain,5,1,vettel,red_bull,1:55.029,1:54.101
1,2010,1,Bahrain Grand Prix,bahrain,7,2,massa,ferrari,1:55.313,1:54.242
2,2010,1,Bahrain Grand Prix,bahrain,8,3,alonso,ferrari,1:54.612,1:54.608
3,2010,1,Bahrain Grand Prix,bahrain,2,4,hamilton,mclaren,1:55.341,1:55.217
4,2010,1,Bahrain Grand Prix,bahrain,4,5,rosberg,mercedes,1:55.463,1:55.241
...,...,...,...,...,...,...,...,...,...,...
5548,2023,3,Australian Grand Prix,albert_park,81,16,piastri,mclaren,1:18.517,None
5549,2023,3,Australian Grand Prix,albert_park,24,17,zhou,alfa,1:18.540,None
5550,2023,3,Australian Grand Prix,albert_park,2,18,sargeant,williams,1:18.557,None
5551,2023,3,Australian Grand Prix,albert_park,77,19,bottas,alfa,1:18.714,None
5552,2023,3,Australian Grand Prix,albert_park,11,20,perez,red_bull,,None

### Tabla de constructores:

In [27]:
Constructors= {'constructorId':[],
              'url':[],
              'name':[],
              'nationality':[]}

In [30]:
for year in list(range(2010,lastyear)):
    url= 'http://ergast.com/api/f1/{}/constructors.json?limit=1000'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['ConstructorTable']['Constructors']:
        Constructors['constructorId'].append(i['constructorId'])
        Constructors['url'].append(i['url'])
        Constructors['name'].append(i['name'])
        Constructors['nationality'].append(i['nationality'])

In [15]:
pd.DataFrame(Constructors).to_csv('Constructors', index=False)

In [31]:
pd.DataFrame(Constructors)

,constructorId,url,name,nationality
0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,force_india,http://en.wikipedia.org/wiki/Racing_Point_Forc...,Force India,Indian
2,hrt,http://en.wikipedia.org/wiki/Hispania_Racing,HRT,Spanish
3,lotus_racing,http://en.wikipedia.org/wiki/Lotus_Racing,Lotus,Malaysian
4,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
...,...,...,...,...
293,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
294,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
295,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
296,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
297,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

### Tabla de circuitos

In [32]:
Circuits= { 'circuitId': [],
  'url':[],
  'circuitName': [],
  'lat': [],
   'long': [],
   'locality':[],
   'country': []}

In [8]:
url='http://ergast.com/api/f1/2022/circuits.json'
response=requests.get(url)
jsonstatus=response.json()
jsonstatus['MRData']['CircuitTable']['Circuits']

[{'circuitId': 'albert_park',
  'url': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
  'circuitName': 'Albert Park Grand Prix Circuit',
  'Location': {'lat': '-37.8497',
   'long': '144.968',
   'locality': 'Melbourne',
   'country': 'Australia'}},
 {'circuitId': 'americas',
  'url': 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas',
  'circuitName': 'Circuit of the Americas',
  'Location': {'lat': '30.1328',
   'long': '-97.6411',
   'locality': 'Austin',
   'country': 'USA'}},
 {'circuitId': 'bahrain',
  'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
  'circuitName': 'Bahrain International Circuit',
  'Location': {'lat': '26.0325',
   'long': '50.5106',
   'locality': 'Sakhir',
   'country': 'Bahrain'}},
 {'circuitId': 'baku',
  'url': 'http://en.wikipedia.org/wiki/Baku_City_Circuit',
  'circuitName': 'Baku City Circuit',
  'Location': {'lat': '40.3725',
   'long': '49.8533',
   'locality': 'Baku',
   'country': 'Azerbaijan'}},
 {'circuitId': 'catalunya',
  'url': 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
  'circuitName': 'Circuit de Barcelona-Catalunya',
  'Location': {'lat': '41.57',
   'long': '2.26111',
   'locality': 'MontmelÃ³',
   'country': 'Spain'}},
 {'circuitId': 'hungaroring',
  'url': 'http://en.wikipedia.org/wiki/Hungaroring',
  'circuitName': 'Hungaroring',
  'Location': {'lat': '47.5789',
   'long': '19.2486',
   'locality': 'Budapest',
   'country': 'Hungary'}},
 {'circuitId': 'imola',
  'url': 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari',
  'circuitName': 'Autodromo Enzo e Dino Ferrari',
  'Location': {'lat': '44.3439',
   'long': '11.7167',
   'locality': 'Imola',
   'country': 'Italy'}},
 {'circuitId': 'interlagos',
  'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
  'circuitName': 'AutÃ³dromo JosÃ© Carlos Pace',
  'Location': {'lat': '-23.7036',
   'long': '-46.6997',
   'locality': 'SÃ£o Paulo',
   'country': 'Brazil'}},
 {'circuitId': 'jeddah',
  'url': 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit',
  'circuitName': 'Jeddah Corniche Circuit',
  'Location': {'lat': '21.6319',
   'long': '39.1044',
   'locality': 'Jeddah',
   'country': 'Saudi Arabia'}},
 {'circuitId': 'marina_bay',
  'url': 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
  'circuitName': 'Marina Bay Street Circuit',
  'Location': {'lat': '1.2914',
   'long': '103.864',
   'locality': 'Marina Bay',
   'country': 'Singapore'}},
 {'circuitId': 'miami',
  'url': 'http://en.wikipedia.org/wiki/Miami_International_Autodrome',
  'circuitName': 'Miami International Autodrome',
  'Location': {'lat': '25.9581',
   'long': '-80.2389',
   'locality': 'Miami',
   'country': 'USA'}},
 {'circuitId': 'monaco',
  'url': 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
  'circuitName': 'Circuit de Monaco',
  'Location': {'lat': '43.7347',
   'long': '7.42056',
   'locality': 'Monte-Carlo',
   'country': 'Monaco'}},
 {'circuitId': 'monza',
  'url': 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
  'circuitName': 'Autodromo Nazionale di Monza',
  'Location': {'lat': '45.6156',
   'long': '9.28111',
   'locality': 'Monza',
   'country': 'Italy'}},
 {'circuitId': 'red_bull_ring',
  'url': 'http://en.wikipedia.org/wiki/Red_Bull_Ring',
  'circuitName': 'Red Bull Ring',
  'Location': {'lat': '47.2197',
   'long': '14.7647',
   'locality': 'Spielberg',
   'country': 'Austria'}},
 {'circuitId': 'ricard',
  'url': 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit',
  'circuitName': 'Circuit Paul Ricard',
  'Location': {'lat': '43.2506',
   'long': '5.79167',
   'locality': 'Le Castellet',
   'country': 'France'}},
 {'circuitId': 'rodriguez',
  'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez',
  'circuitName': 'AutÃ³dromo Hermanos RodrÃ­guez',
  'Location': {'lat': '19.4042',
   'long': '-99.0907',
   'locality': 'Mexico City',
   'country': 'Mexico'}},
 {'circuitId': 'silverstone',
  'url': 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
  'circuitName': 'Silverstone Circuit',
  'Location': {'lat': '52.0786',
   'long': '-1.01694',
   'locality': 'Silverstone',
   'country': 'UK'}},
 {'circuitId': 'spa',
  'url': 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
  'circuitName': 'Circuit de Spa-Francorchamps',
  'Location': {'lat': '50.4372',
   'long': '5.97139',
   'locality': 'Spa',
   'country': 'Belgium'}},
 {'circuitId': 'suzuka',
  'url': 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
  'circuitName': 'Suzuka Circuit',
  'Location': {'lat': '34.8431',
   'long': '136.541',
   'locality': 'Suzuka',
   'country': 'Japan'}},
 {'circuitId': 'villeneuve',
  'url': 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
  'circuitName': 'Circuit Gilles Villeneuve',
  'Location': {'lat': '45.5',
   'long': '-73.5228',
   'locality': 'Montreal',
   'country': 'Canada'}},
 {'circuitId': 'yas_marina',
  'url': 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
  'circuitName': 'Yas Marina Circuit',
  'Location': {'lat': '24.4672',
   'long': '54.6031',
   'locality': 'Abu Dhabi',
   'country': 'UAE'}},
 {'circuitId': 'zandvoort',
  'url': 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
  'circuitName': 'Circuit Park Zandvoort',
  'Location': {'lat': '52.3888',
   'long': '4.54092',
   'locality': 'Zandvoort',
   'country': 'Netherlands'}}]

In [33]:
for year in list(range(2010,lastyear)):
    url= 'http://ergast.com/api/f1/{}/circuits.json?limit=10000'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['CircuitTable']['Circuits']:
        Circuits['circuitId'].append(i['circuitId'])
        Circuits['url'].append(i['url'])
        Circuits['circuitName'].append(i['circuitName'])
        try:
            Circuits['lat'].append(i['Location']['lat'])
            Circuits['long'].append(i['Location']['long'])
            Circuits['locality'].append(i['Location']['locality'])
            Circuits['country'].append(i['Location']['country'])
        except:
            Circuits['lat'].append(None)
            Circuits['long'].append(None)
            Circuits['locality'].append(None)
            Circuits['country'].append(None)

In [35]:
pd.DataFrame(Circuits).to_csv('Circuits', index=False)

In [34]:
pd.DataFrame(Circuits)

,circuitId,url,circuitName,lat,long,locality,country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
1,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain
2,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.57,2.26111,MontmelÃ³,Spain
3,hockenheimring,http://en.wikipedia.org/wiki/Hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany
4,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary
...,...,...,...,...,...,...,...
273,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.541,Suzuka,Japan
274,vegas,https://en.wikipedia.org/wiki/Las_Vegas_Grand_...,Las Vegas Strip Street Circuit,36.1147,-115.173,Las Vegas,United States
275,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada
276,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE
277,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

### Tabla de sprint results
Las carreras sprint se comenzaron a realizar a partir de 2021

In [36]:
sprint = {'season': [],
          'round': [],
          'raceName':[],
          'circuitId':[],
          'number':[],
          'position':[],
          'points':[],
          'driverId':[],
          'constructorId':[],
          'grid':[],
          'laps':[],
          'status':[],
          #'time':[],
         # 'fastestLap':[]
          
         }

In [154]:
#sprint['SprintResults']

In [37]:
for year in list(range(2021,lastyear)):
    url= 'http://ergast.com/api/f1/{}/sprint.json?limit=100000'
    responsequaly=requests.get(url.format(year))
    jsonsprint=responsequaly.json()
    for i in jsonsprint['MRData']['RaceTable']['Races']:
        for x in i['SprintResults']:
            sprint['season'].append(int(i['season']))
            sprint['round'].append(int(i['round']))
            sprint['raceName'].append(i['raceName'])
            sprint['circuitId'].append(str(i['Circuit']['circuitId']))
            sprint['number'].append(int(x['number']))
            sprint['position'].append(int(x['position']))
            sprint['points'].append(int(x['points']))
            sprint['driverId'].append(x['Driver']['driverId'])
            sprint['constructorId'].append(x['Constructor']['constructorId'])
            sprint['grid'].append(x['grid'])
            sprint['laps'].append(x['laps'])
            sprint['status'].append(x['status'])
           # sprint['time'].append(x['Time']['time'])
            
            #sprint['fastestLap'].append(x['FastestLap']['Time']['time'])

In [38]:
pd.DataFrame(sprint)

,season,round,raceName,circuitId,number,position,points,driverId,constructorId,grid,laps,status
0,2021,10,British Grand Prix,silverstone,33,1,3,max_verstappen,red_bull,2,17,Finished
1,2021,10,British Grand Prix,silverstone,44,2,2,hamilton,mercedes,1,17,Finished
2,2021,10,British Grand Prix,silverstone,77,3,1,bottas,mercedes,3,17,Finished
3,2021,10,British Grand Prix,silverstone,16,4,0,leclerc,ferrari,4,17,Finished
4,2021,10,British Grand Prix,silverstone,4,5,0,norris,mclaren,6,17,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...
115,2022,21,Brazilian Grand Prix,interlagos,18,16,0,stroll,aston_martin,15,24,Finished
116,2022,21,Brazilian Grand Prix,interlagos,31,17,0,ocon,alpine,6,24,Finished
117,2022,21,Brazilian Grand Prix,interlagos,14,18,0,alonso,alpine,7,24,Finished
118,2022,21,Brazilian Grand Prix,interlagos,6,19,0,latifi,williams,16,24,Finished
119,2022,21,Brazilian Grand Prix,interlagos,23,20,0,albon,williams,11,12,Retired

CLASE PASADA (30-1-2023)

In [39]:
pd.DataFrame(sprint).to_csv('Sprint',index=False)

### Tabla de status

In [155]:
url='http://ergast.com/api/f1/2022/status.json'
response=requests.get(url)
jsonstatus=response.json()
#jsonstatus['MRData']['StatusTable']['Status']

In [40]:
status= {'season':[],
         'statusId':[],
         'count':[],
          'status':[]
        }

In [41]:
for year in list(range(2010,lastyear)):
    url= 'http://ergast.com/api/f1/{}/status.json?limit=100000'
    responsestatus=requests.get(url.format(year))
    jsonstatus=responsestatus.json()
    for i in jsonstatus['MRData']['StatusTable']['Status']:
        status['season'].append(year)
        status['statusId'].append(int(i['statusId']))
        status['count'].append(int(i['count']))
        status['status'].append(str(i['status']))

In [42]:
pd.DataFrame(status)

     season  statusId  count      status
0      2010         1    212    Finished
1      2010         3     17    Accident
2      2010         4     25   Collision
3      2010         5     13      Engine
4      2010         6      9     Gearbox
..      ...       ...    ...         ...
373    2023        10      1  Electrical
374    2023        11      6      +1 Lap
375    2023        12      1     +2 Laps
376    2023        23      1      Brakes
377    2023        26      1  Mechanical

[378 rows x 4 columns]

In [43]:
pd.DataFrame(status).to_csv('status', index='False')

### Tabla de results

In [156]:
url='http://ergast.com/api/f1/2012/results.json'
response=requests.get(url)
jsonresults=response.json()
#jsonresults['MRData']['RaceTable']['Races']

In [44]:
results= {#'year':[],
            'season':[],#.append(int(i['season']))
            'round':[],#.append(int(i['round']))
            'raceName':[],#.append(i['raceName']) 
            'circuitId':[],
            'driverId':[],#.append(results1['Driver']['driverId'])
            'position':[],#.append(results1['position'])
            'grid':[],#.app<end(results1['grid'])
            'status':[],#.append(results1['status'])
            'constructorId':[],#.append(results1['Constructor']['constructorId'])
            'laps':[],#.append(results1['laps'])
            #'fastestLap':[]
         }

In [148]:
pd.DataFrame(results)

Empty DataFrame
Columns: [season, round, raceId, driverId, position, grid, status, constructorId, laps]
Index: []

In [45]:
for year in list(range(2010,lastyear)):
    url='http://ergast.com/api/f1/{}/results.json?limit=1000000'
    responseresults = requests.get(url.format(year))
    jsonresults=responseresults.json()
    for i in jsonresults['MRData']['RaceTable']['Races']:
           for results1 in i['Results']:
       # results['year'].append(year)
            results['season'].append(int(i['season']))
            results['round'].append(int(i['round']))
            results['raceName'].append(i['raceName'])
            results['circuitId'].append(i['Circuit']['circuitId'])
            results['driverId'].append(results1['Driver']['driverId'])
            results['position'].append(results1['position'])
            results['grid'].append(results1['grid'])
            results['status'].append(results1['status'])
            results['constructorId'].append(results1['Constructor']['constructorId'])
            results['laps'].append(results1['laps'])
           # results['fastestLap'].append(results1['FastestLap']['Time']['time'])

In [47]:
pd.DataFrame(results).to_csv('results', index = False)

In [46]:
pd.DataFrame(results)

,season,round,raceName,circuitId,driverId,position,grid,status,constructorId,laps
0,2010,1,Bahrain Grand Prix,bahrain,alonso,1,3,Finished,ferrari,49
1,2010,1,Bahrain Grand Prix,bahrain,massa,2,2,Finished,ferrari,49
2,2010,1,Bahrain Grand Prix,bahrain,hamilton,3,4,Finished,mclaren,49
3,2010,1,Bahrain Grand Prix,bahrain,vettel,4,1,Finished,red_bull,49
4,2010,1,Bahrain Grand Prix,bahrain,rosberg,5,5,Finished,mercedes,49
...,...,...,...,...,...,...,...,...,...,...
5572,2023,3,Australian Grand Prix,albert_park,sargeant,16,18,Collision,williams,56
5573,2023,3,Australian Grand Prix,albert_park,kevin_magnussen,17,14,Accident,haas,52
5574,2023,3,Australian Grand Prix,albert_park,russell,18,2,Engine,mercedes,17
5575,2023,3,Australian Grand Prix,albert_park,albon,19,8,Accident,williams,6
5576,2023,3,Australian Grand Prix,albert_park,leclerc,20,7,Collision,ferrari,0

### Tabla de pitStops

In [48]:
pitstops={'season':[],#season
         'round':[],#round
         'raceName':[],#raceName}
          'circuitId':[],
          'circuitName':[],
        'driverId':[],#driverId
          'lap':[],#lap
          'stop':[],#stop
          'time':[],
          'duration':[]
         }

In [49]:
#NÃºmero de carreras que hubo en cada temporada +1 ya que toma el lÃ­mite superior como un si fuera un conjunto abierto
CARRERAS={
int('2010'):20,
int('2011'):20,
int('2012'):21,
int('2013'):20,
int('2014'):20,
int('2015'):20,
int('2016'):22,
int('2017'):21,
int('2018'):22,
int('2019'):22,
int('2020'):18,
int('2021'):23,
int('2022'):23
}
list(range(1,CARRERAS[2022]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [157]:
urlk='http://ergast.com/api/f1/2020/16/pitstops.json'
responsepits=requests.get(urlk)
jsonpits=responsepits.json()
#jsonpits

#jsonpits['MRData']['RaceTable']['Races']

In [50]:
for year in list(range(2010,lastyear)):
    url='http://ergast.com/api/f1/{}'
    url1 = url.format(year)
    for season in list(range(1,CARRERAS[year])):
        url2='/{}/pitstops.json?limit=1000000'
        url3= url2.format(season)
        url4=url1+ url3        
        responseps = requests.get(url4)
        jsonpitstops=responseps.json()
        for i in jsonpitstops['MRData']['RaceTable']['Races']:
            for ps in i['PitStops']:
                try:
                    pitstops['season'].append(int(i['season']))
                    pitstops['round'].append(int(i['round']))
                    pitstops['raceName'].append(i['raceName'])
                    pitstops['circuitId'].append(i['Circuit']['circuitId'])
                    pitstops['circuitName'].append(i['Circuit']['circuitName'])
                    pitstops['driverId'].append(ps['driverId'])
                    pitstops['lap'].append(ps['lap'])
                    pitstops['stop'].append(ps['stop'])
                    pitstops['time'].append(ps['time'])
                    pitstops['duration'].append(ps['duration'])
                except:
                    #pitstops['season'].append(None)
                    #pitstops['round'].append(None)
                    #pitstops['raceId'].append(None)
                    pitstops['driverId'].append(None)
                    pitstops['lap'].append(None)
                    pitstops['stop'].append(None)
                    pitstops['time'].append(None)
                    pitstops['duration'].append(None)

KeyError: 2023

In [51]:
pd.DataFrame(pitstops)
#len(pitstops['circuitName'])

,season,round,raceName,circuitId,circuitName,driverId,lap,stop,time,duration
0,2011,1,Australian Grand Prix,albert_park,Albert Park Grand Prix Circuit,alguersuari,1,1,17:05:23,26.898
1,2011,1,Australian Grand Prix,albert_park,Albert Park Grand Prix Circuit,michael_schumacher,1,1,17:05:52,25.021
2,2011,1,Australian Grand Prix,albert_park,Albert Park Grand Prix Circuit,webber,11,1,17:20:48,23.426
3,2011,1,Australian Grand Prix,albert_park,Albert Park Grand Prix Circuit,alonso,12,1,17:22:34,23.251
4,2011,1,Australian Grand Prix,albert_park,Albert Park Grand Prix Circuit,massa,13,1,17:24:10,23.842
...,...,...,...,...,...,...,...,...,...,...
9629,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,latifi,38,2,18:02:50,25.174
9630,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,stroll,40,2,18:04:44,21.802
9631,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,ocon,41,2,18:06:09,21.734
9632,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,norris,42,2,18:07:36,21.559
9633,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,zhou,44,2,18:11:10,23.159

In [52]:
pd.DataFrame(pitstops).to_csv('pitstops', index = False)

## tabla de lapTimes

In [53]:
laptimes= {'season':[],#season
         'round':[],#round
           'raceName':[],
         #'raceId':[],#raceName}
          'circuitId':[],
           'circuitName':[],
           'numberofLap':[],
        'driverId':[],#driverId
          'position':[],#lap
          'time':[]
         }

In [54]:
for year in list(range(2010,lastyear)):
    urlap='http://ergast.com/api/f1/{}'
    urlap1=urlap.format(year)
    for race in list(range(1,CARRERAS[year])):
        urlrace='/{}/laps.json?limit=10000000'
        urlrace1=urlrace.format(race)
        urlt=urlap1+urlrace1
        responselaps=requests.get(urlt)
        jsonlaps=responselaps.json()    
        for i in jsonlaps['MRData']['RaceTable']['Races']:
            for time1 in i['Laps']:
                for timings in time1['Timings']:
                    laptimes['season'].append(int(i['season']))
                    laptimes['round'].append(int(i['round']))
                    laptimes['raceName'].append(i['raceName'])
                    laptimes['circuitId'].append(i['Circuit']['circuitId'])
                    laptimes['circuitName'].append(i['Circuit']['circuitName'])
                    laptimes['numberofLap'].append(time1['number'])
                    laptimes['driverId'].append(timings['driverId'])
                    laptimes['position'].append(timings['position'])
                    laptimes['time'].append(timings['time'])

KeyError: 2023

In [55]:
jsonlaps['MRData']['RaceTable']['Races']
pd.DataFrame(laptimes)

,season,round,raceName,circuitId,circuitName,numberofLap,driverId,position,time
0,2010,1,Bahrain Grand Prix,bahrain,Bahrain International Circuit,1,vettel,1,2:03.366
1,2010,1,Bahrain Grand Prix,bahrain,Bahrain International Circuit,1,alonso,2,2:05.394
2,2010,1,Bahrain Grand Prix,bahrain,Bahrain International Circuit,1,massa,3,2:06.758
3,2010,1,Bahrain Grand Prix,bahrain,Bahrain International Circuit,1,rosberg,4,2:08.063
4,2010,1,Bahrain Grand Prix,bahrain,Bahrain International Circuit,1,hamilton,5,2:08.558
...,...,...,...,...,...,...,...,...,...
291843,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,58,ocon,7,1:30.021
291844,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,58,stroll,8,1:31.330
291845,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,58,ricciardo,9,1:30.856
291846,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,58,vettel,10,1:30.351
291847,2022,22,Abu Dhabi Grand Prix,yas_marina,Yas Marina Circuit,58,tsunoda,11,1:32.280

In [56]:
pd.DataFrame(laptimes).to_csv('laptimes', index= False)

## Tabla de driver Standings

In [57]:
url='https://ergast.com/api/f1/2021/driversStandings.json'
response= requests.get(url)
response.json()
#response.json()
#ejcontent=json.loads(response.content)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [58]:
driverstandings={'season':[],
                'round':[],
                 'position':[],
                 'points':[],
                 'wins':[],
                 'driverId':[],
                 'constructorId':[]           
                }

In [59]:
for year in list(range(2010,lastyear)):
    urlds='http://ergast.com/api/f1/{}/driverStandings.json?limit=10000'
    responsestandings= requests.get(urlds.format(year))
    jsonds=responsestandings.json()
    for i in jsonds['MRData']['StandingsTable']['StandingsLists']:
            for cs in i['DriverStandings']:
                for c in cs['Constructors']:
                    driverstandings['season'].append(int(i['season']))
                    driverstandings['round'].append(int(i['round']))
                    driverstandings['position'].append(int(cs['position']))
                    driverstandings['points'].append(cs['points'])
                    driverstandings['wins'].append(cs['wins'])
                    driverstandings['driverId'].append(cs['Driver']['driverId'])
                    driverstandings['constructorId'].append(c['constructorId'])

In [60]:
pd.DataFrame(driverstandings)

     season  round  position points wins         driverId constructorId
0      2010     19         1    256    5           vettel      red_bull
1      2010     19         2    252    5           alonso       ferrari
2      2010     19         3    242    4           webber      red_bull
3      2010     19         4    240    3         hamilton       mclaren
4      2010     19         5    214    2           button       mclaren
..      ...    ...       ...    ...  ...              ...           ...
325    2023      3        16      1    0          tsunoda    alphatauri
326    2023      3        17      1    0  kevin_magnussen          haas
327    2023      3        18      1    0            albon      williams
328    2023      3        19      0    0         sargeant      williams
329    2023      3        20      0    0         de_vries    alphatauri

[330 rows x 7 columns]

In [61]:
pd.DataFrame(driverstandings).to_csv('DriverStandings', index= False)

## Tabla de constructor standings

In [62]:
constructorstandings={'season':[],
                'round':[],
                 'position':[],
                 'points':[],
                 'wins':[],
                 #'driverId':[],
                 'constructorId':[]           
                }

In [63]:
for year in list(range(2010,lastyear)):
    urlcs='http://ergast.com/api/f1/{}/constructorStandings.json'
    responsestandings= requests.get(urlcs.format(year))
    jsoncs=responsestandings.json()
    for i in jsoncs['MRData']['StandingsTable']['StandingsLists']:
            for cs in i['ConstructorStandings']:
                #for c in cs['Constructors']:
                    constructorstandings['season'].append(int(i['season']))
                    constructorstandings['round'].append(int(i['round']))
                    constructorstandings['position'].append(int(cs['position']))
                    constructorstandings['points'].append(cs['points'])
                    constructorstandings['wins'].append(cs['wins'])
                   # driverstandings['driverId'].append(c['Driver']['driverId'])
                    constructorstandings['constructorId'].append(cs['Constructor']['constructorId'])

In [64]:
pd.DataFrame(constructorstandings)

     season  round  position points wins constructorId
0      2010     19         1    498    9      red_bull
1      2010     19         2    454    5       mclaren
2      2010     19         3    396    5       ferrari
3      2010     19         4    214    0      mercedes
4      2010     19         5    163    0       renault
..      ...    ...       ...    ...  ...           ...
144    2023      3         6      8    0        alpine
145    2023      3         7      7    0          haas
146    2023      3         8      6    0          alfa
147    2023      3         9      1    0    alphatauri
148    2023      3        10      1    0      williams

[149 rows x 6 columns]

In [65]:
pd.DataFrame(constructorstandings).to_csv('Constructors_Standings', index = False)