In [3]:
import requests
import json
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [255]:
url='https://ergast.com/api/f1/2021/1/pitstops.json'
response= requests.get(url)
jsoresponse.json()
#response.json()
#ejcontent=json.loads(response.content)

{'MRData': {'xmlns': 'http://ergast.com/mrd/1.5',
  'series': 'f1',
  'url': 'http://ergast.com/api/f1/2021/1/pitstops.json',
  'limit': '30',
  'offset': '0',
  'total': '40',
  'RaceTable': {'season': '2021',
   'round': '1',
   'Races': [{'season': '2021',
     'round': '1',
     'url': 'http://en.wikipedia.org/wiki/2021_Bahrain_Grand_Prix',
     'raceName': 'Bahrain Grand Prix',
     'Circuit': {'circuitId': 'bahrain',
      'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
      'circuitName': 'Bahrain International Circuit',
      'Location': {'lat': '26.0325',
       'long': '50.5106',
       'locality': 'Sakhir',
       'country': 'Bahrain'}},
     'date': '2021-03-28',
     'time': '15:00:00Z',
     'PitStops': [{'driverId': 'perez',
       'lap': '2',
       'stop': '1',
       'time': '18:11:56',
       'duration': '23.993'},
      {'driverId': 'gasly',
       'lap': '4',
       'stop': '1',
       'time': '18:16:14',
       'duration': '38.338'},
      {'driverId': 'alonso',
       'lap': '11',
       'stop': '1',
       'time': '18:27:32',
       'duration': '24.373'},
      {'driverId': 'norris',
       'lap': '12',
       'stop': '1',
       'time': '18:29:05',
       'duration': '24.899'},
      {'driverId': 'leclerc',
       'lap': '12',
       'stop': '1',
       'time': '18:29:06',
       'duration': '24.925'},
      {'driverId': 'stroll',
       'lap': '12',
       'stop': '1',
       'time': '18:29:09',
       'duration': '24.884'},
      {'driverId': 'giovinazzi',
       'lap': '12',
       'stop': '1',
       'time': '18:29:14',
       'duration': '31.998'},
      {'driverId': 'hamilton',
       'lap': '13',
       'stop': '1',
       'time': '18:30:29',
       'duration': '24.839'},
      {'driverId': 'ricciardo',
       'lap': '13',
       'stop': '1',
       'time': '18:30:45',
       'duration': '24.688'},
      {'driverId': 'raikkonen',
       'lap': '13',
       'stop': '1',
       'time': '18:30:52',
       'duration': '24.107'},
      {'driverId': 'ocon',
       'lap': '13',
       'stop': '1',
       'time': '18:30:55',
       'duration': '25.226'},
      {'driverId': 'russell',
       'lap': '13',
       'stop': '1',
       'time': '18:31:02',
       'duration': '24.621'},
      {'driverId': 'latifi',
       'lap': '14',
       'stop': '1',
       'time': '18:32:44',
       'duration': '26.046'},
      {'driverId': 'mick_schumacher',
       'lap': '14',
       'stop': '1',
       'time': '18:32:58',
       'duration': '25.798'},
      {'driverId': 'sainz',
       'lap': '15',
       'stop': '1',
       'time': '18:34:04',
       'duration': '24.353'},
      {'driverId': 'tsunoda',
       'lap': '15',
       'stop': '1',
       'time': '18:34:12',
       'duration': '25.046'},
      {'driverId': 'bottas',
       'lap': '16',
       'stop': '1',
       'time': '18:35:24',
       'duration': '24.262'},
      {'driverId': 'max_verstappen',
       'lap': '17',
       'stop': '1',
       'time': '18:36:54',
       'duration': '24.767'},
      {'driverId': 'perez',
       'lap': '19',
       'stop': '2',
       'time': '18:40:35',
       'duration': '24.105'},
      {'driverId': 'gasly',
       'lap': '19',
       'stop': '2',
       'time': '18:41:17',
       'duration': '24.317'},
      {'driverId': 'vettel',
       'lap': '24',
       'stop': '1',
       'time': '18:49:08',
       'duration': '24.626'},
      {'driverId': 'hamilton',
       'lap': '28',
       'stop': '2',
       'time': '18:54:40',
       'duration': '24.076'},
      {'driverId': 'stroll',
       'lap': '28',
       'stop': '2',
       'time': '18:55:23',
       'duration': '25.525'},
      {'driverId': 'raikkonen',
       'lap': '29',
       'stop': '2',
       'time': '18:57:06',
       'duration': '24.046'},
      {'driverId': 'alonso',
       'lap': '29',
       'stop': '2',
       'time': '18:57:13',
       'duration': '24.775'},
      {'driverId': 'bottas',
       'lap': '30',
       'stop': '2',
       'time': '18:57:58',
       'duration': '32.897'},
      {'driverId': 'giovinazzi',
       'lap': '30',
       'stop': '2',
       'time': '18:58:53',
       'duration': '24.223'},
      {'driverId': 'ocon',
       'lap': '31',
       'stop': '2',
       'time': '19:00:29',
       'duration': '24.471'},
      {'driverId': 'leclerc',
       'lap': '32',
       'stop': '2',
       'time': '19:01:40',
       'duration': '24.176'},
      {'driverId': 'ricciardo',
       'lap': '32',
       'stop': '2',
       'time': '19:01:44',
       'duration': '24.655'}]}]}}}

In [2]:
#content.keys()


#content
#content['MRData'].keys()
#content['MRData']['RaceTable']['Races']

### Tabla de races

In [8]:
races= {'season':[],#entero xxxxxxxxxx
       'round': [],#entero xxxxxxxxxxxxx
        'circuit_id':[],#letras y dentro de diccionario 'Circuit'
        'lat':[],#letras y dentro de diccionario'Circuit'- 'Location'
   'long': [],#letras y dentro de diccionario 'Circuit'-'Location'
   'country':[],#letras y dentro de diccionario 'Circuit''Location'
 'date': [],#fecha
 #'FirstPractice': [],#Extraer fecha y dentro de diccionario 'FirstPractice'
 #'SecondPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 #'ThirdPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 #'Qualifying': [],#Extraer fecha y dentro de diccionario 'Qualifying'
        'url':[]#letra xxxxxxx
       }

In [9]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    json=response.json()
        
    for i in json['MRData']['RaceTable']['Races']:
        races['season'].append(int(i['season']))
        races['round'].append(int(i['round']))
        races['circuit_id'].append(i['Circuit']['circuitId'])
        races['lat'].append(i['Circuit']['Location']['lat'])
        races['long'].append(i['Circuit']['Location']['long'])
        races['country'].append(i['Circuit']['Location']['country'])
        races['date'].append(i['date'])
        races['url'].append(i['url'])
       # try:
        #    races['FirstPractice'].append(i['FirstPractice']['date'])
         #  races['SecondPractice'].append(i['SecondPractice']['date'])
          #  races['ThirdPractice'].append(i['ThirdPractice']['date'])
           # races['Qualifying'].append(i['Qualifying']['date'])
        #except:
         #   races['FirstPractice'].append(None)
          #  races['SecondPractice'].append(None)
           # races['ThirdPractice'].append(None)
            #races['Qualifying'].append(None)

In [30]:
pd.DataFrame(races).to_csv('races', index= False)

In [4]:
pd.DataFrame(races)

NameError: name 'races' is not defined

### Tabla de seasons

In [11]:
seasons= {'season':[],
         'url':[]}

In [12]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    json=response.json()
        
    for i in json['MRData']['RaceTable']['Races']:
        seasons['season'].append(int(i['season']))
        seasons['url'].append(i['url'])

In [5]:
pd.DataFrame(seasons)

NameError: name 'seasons' is not defined

In [28]:
pd.DataFrame(seasons).to_csv('seasons', index= False)

### Tabla de drivers

In [14]:
drivers = {'driverId':[],
          'code':[],
          'forename':[],
          'surname':[],
          'dob':[],
          'nationality':[],
          'url':[]}

In [15]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/drivers.json'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(i['driverId'])
        drivers['code'].append(i['code'])
        drivers['forename'].append(i['givenName'])
        drivers['surname'].append(i['familyName'])
        drivers['dob'].append(i['dateOfBirth'])
        drivers['nationality'].append(i['nationality'])
        drivers['url'].append(i['url'])

In [8]:
pd.DataFrame(drivers)

NameError: name 'drivers' is not defined

In [ ]:
pd.DataFrame(drivers).to_csv('Drivers', index = False)

### Tabla de Qualifying. Al parecer sólo tenemos información de las primeras 2 clasificaciones de cada año.

In [153]:
url='http://ergast.com/api/f1/2010/qualifying.json'
response=requests.get(url)
jsonraces=response.json()
#jsonraces['MRData']['RaceTable']['Races']

In [109]:
Qualifying={'season':[],
            'round':[],
            'racename':[],
           # 'QualifyingResults': [],
            'number':[],
            'position':[],
            'driverId':[],
            'constructorId':[],
            'Q1':[],
            'Q2':[],
            'Q3':[]
           }

In [118]:
Q1 = [i for i in Qualifying['Q1'] if i is not None]
#Q2 =[i for i in Qualifying['Q2'] if i is not None]
Qualifying['Q1']=Q1
Qualifying.pop('Q2')

In [110]:
for year in list(range(2010,2023)):
    url= 'http://ergast.com/api/f1/{}/qualifying.json'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['RaceTable']['Races']:
            
            for x in i['QualifyingResults']:
                Qualifying['season'].append(i['season'])
                Qualifying['round'].append(i['round'])
                Qualifying['racename'].append(i['raceName'])
                Qualifying['number'].append(x['number'])
                Qualifying['position'].append(x['position'])
                Qualifying['driverId'].append(x['Driver']['driverId'])
                Qualifying['constructorId'].append(x['Constructor']['constructorId'])
                try:
                    Qualifying['Q1'].append(x['Q1'])
                    Qualifying['Q2'].append(x['Q2'])
                    Qualifying['Q3'].append(x['Q3'])
                except:
                    Qualifying['Q1'].append(None)                     
                    Qualifying['Q2'].append(None)
                    Qualifying['Q3'].append(None)
      #  QualifyingResults': []',

In [129]:
pd.DataFrame(Qualifying).to_csv('Qualifying', index=False)

In [130]:
pd.DataFrame(Qualifying)

,season,round,racename,number,position,driverId,constructorId,Q1,Q3
0,2010,1,Bahrain Grand Prix,5,1,vettel,red_bull,1:55.029,1:54.101
1,2010,1,Bahrain Grand Prix,7,2,massa,ferrari,1:55.313,1:54.242
2,2010,1,Bahrain Grand Prix,8,3,alonso,ferrari,1:54.612,1:54.608
3,2010,1,Bahrain Grand Prix,2,4,hamilton,mclaren,1:55.341,1:55.217
4,2010,1,Bahrain Grand Prix,4,5,rosberg,mercedes,1:55.463,1:55.241
...,...,...,...,...,...,...,...,...,...
385,2022,2,Saudi Arabian Grand Prix,63,6,russell,mercedes,1:29.680,1:29.104
386,2022,2,Saudi Arabian Grand Prix,14,7,alonso,alpine,1:29.978,1:29.147
387,2022,2,Saudi Arabian Grand Prix,77,8,bottas,alfa,1:29.683,1:29.183
388,2022,2,Saudi Arabian Grand Prix,10,9,gasly,alphatauri,1:29.891,1:29.254
389,2022,2,Saudi Arabian Grand Prix,20,10,kevin_magnussen,haas,1:29.831,1:29.588

### Tabla de constructores:

In [30]:
Constructors= {'constructorId':[],
              'url':[],
              'name':[],
              'nationality':[]}

In [31]:
for year in list(range(2010,2023)):
    url= 'http://ergast.com/api/f1/{}/constructors.json'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['ConstructorTable']['Constructors']:
        Constructors['constructorId'].append(i['constructorId'])
        Constructors['url'].append(i['url'])
        Constructors['name'].append(i['name'])
        Constructors['nationality'].append(i['nationality'])

In [15]:
pd.DataFrame(Constructors).to_csv('Constructors', index=False)

In [33]:
pd.DataFrame(Constructors)

,constructorId,url,name,nationality
0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,force_india,http://en.wikipedia.org/wiki/Racing_Point_Forc...,Force India,Indian
2,hrt,http://en.wikipedia.org/wiki/Hispania_Racing,HRT,Spanish
3,lotus_racing,http://en.wikipedia.org/wiki/Lotus_Racing,Lotus,Malaysian
4,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
...,...,...,...,...
134,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
135,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
136,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
137,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
138,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

### Tabla de circuitos

In [17]:
Circuits= { 'circuitId': [],
  'url':[],
  'circuitName': [],
  'lat': [],
   'long': [],
   'locality':[],
   'country': []}

In [18]:
for year in list(range(2010,2023)):
    url= 'http://ergast.com/api/f1/{}/circuits.json'
    response=requests.get(url.format(year))
    json=response.json()
    
    for i in json['MRData']['CircuitTable']['Circuits']:
        Circuits['circuitId'].append(i['circuitId'])
        Circuits['url'].append(i['url'])
        Circuits['circuitName'].append(i['circuitName'])
        try:
            Circuits['lat'].append(i['Location']['lat'])
            Circuits['long'].append(i['Location']['long'])
            Circuits['locality'].append(i['Location']['locality'])
            Circuits['country'].append(i['Location']['country'])
        except:
            Circuits['lat'].append(None)
            Circuits['long'].append(None)
            Circuits['locality'].append(None)
            Circuits['country'].append(None)

In [50]:
pd.DataFrame(Circuits).to_csv('Circuits', index=False)

In [19]:
pd.DataFrame(Circuits)

,circuitId,url,circuitName,lat,long,locality,country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
1,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain
2,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.57,2.26111,Montmeló,Spain
3,hockenheimring,http://en.wikipedia.org/wiki/Hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany
4,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary
...,...,...,...,...,...,...,...
250,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
251,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.541,Suzuka,Japan
252,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada
253,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE
254,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

### Tabla de sprint results
Las carreras sprint se comenzaron a realizar a partir de 2021

In [143]:
sprint = {'season': [],
          'round': [],
          'circuitId':[],
          'number':[],
          'position':[],
          'points':[],
          'driverId':[],
          'constructorId':[],
          'grid':[],
          'laps':[],
          'status':[],
          #'time':[],
         # 'fastestLap':[]
          
         }

In [154]:
#sprint['SprintResults']

In [144]:
for year in list(range(2021,2023)):
    url= 'http://ergast.com/api/f1/{}/sprint.json'
    responsequaly=requests.get(url.format(year))
    jsonsprint=responsequaly.json()
    for i in jsonsprint['MRData']['RaceTable']['Races']:
        for x in i['SprintResults']:
            sprint['season'].append(int(i['season']))
            sprint['round'].append(int(i['round']))
            sprint['circuitId'].append(str(i['Circuit']['circuitId']))
            sprint['number'].append(int(x['number']))
            sprint['position'].append(int(x['position']))
            sprint['points'].append(int(x['points']))
            sprint['driverId'].append(x['Driver']['driverId'])
            sprint['constructorId'].append(x['Constructor']['constructorId'])
            sprint['grid'].append(x['grid'])
            sprint['laps'].append(x['laps'])
            sprint['status'].append(x['status'])
           # sprint['time'].append(x['Time']['time'])
            
            #sprint['fastestLap'].append(x['FastestLap']['Time']['time'])

In [145]:
pd.DataFrame(sprint)

,season,round,circuitId,number,position,points,driverId,constructorId,grid,laps,status
0,2021,10,silverstone,33,1,3,max_verstappen,red_bull,2,17,Finished
1,2021,10,silverstone,44,2,2,hamilton,mercedes,1,17,Finished
2,2021,10,silverstone,77,3,1,bottas,mercedes,3,17,Finished
3,2021,10,silverstone,16,4,0,leclerc,ferrari,4,17,Finished
4,2021,10,silverstone,4,5,0,norris,mclaren,6,17,Finished
5,2021,10,silverstone,3,6,0,ricciardo,mclaren,7,17,Finished
6,2021,10,silverstone,14,7,0,alonso,alpine,11,17,Finished
7,2021,10,silverstone,5,8,0,vettel,aston_martin,10,17,Finished
8,2021,10,silverstone,63,9,0,russell,williams,8,17,Finished
9,2021,10,silverstone,31,10,0,ocon,alpine,13,17,Finished
10,2021,10,silverstone,55,11,0,sainz,ferrari,9,17,Finished
11,2021,10,silverstone,10,12,0,gasly,alphatauri,12,17,Finished
12,2021,10,silverstone,7,13,0,raikkonen,alfa,17,17,Finished
13,2021,10,silverstone,18,14,0,stroll,aston_martin,15,17,Finished
14,2021,10,silverstone,99,15,0,giovinazzi,alfa,14,17,Finished
15,2021,10,silverstone,22,16,0,tsunoda,alphatauri,16,17,Finished
16,2021,10,silverstone,6,17,0,latifi,williams,18,17,Finished
17,2021,10,silverstone,47,18,0,mick_schumacher,haas,19,17,Finished
18,2021,10,silverstone,9,19,0,mazepin,haas,20,17,Finished
19,2021,10,silverstone,11,20,0,perez,red_bull,5,16,Vibrations
20,2021,14,monza,77,1,3,bottas,mercedes,1,18,Finished
21,2021,14,monza,33,2,2,max_verstappen,red_bull,3,18,Finished
22,2021,14,monza,3,3,1,ricciardo,mclaren,5,18,Finished
23,2021,14,monza,4,4,0,norris,mclaren,4,18,Finished
24,2021,14,monza,44,5,0,hamilton,mercedes,2,18,Finished
25,2021,14,monza,16,6,0,leclerc,ferrari,8,18,Finished
26,2021,14,monza,55,7,0,sainz,ferrari,7,18,Finished
27,2021,14,monza,99,8,0,giovinazzi,alfa,10,18,Finished
28,2021,14,monza,11,9,0,perez,red_bull,9,18,Finished
29,2021,14,monza,18,10,0,stroll,aston_martin,12,18,Finished
30,2022,4,imola,1,1,8,max_verstappen,red_bull,1,21,Finished
31,2022,4,imola,16,2,7,leclerc,ferrari,2,21,Finished
32,2022,4,imola,11,3,6,perez,red_bull,7,21,Finished
33,2022,4,imola,55,4,5,sainz,ferrari,10,21,Finished
34,2022,4,imola,4,5,4,norris,mclaren,3,21,Finished
35,2022,4,imola,3,6,3,ricciardo,mclaren,6,21,Finished
36,2022,4,imola,77,7,2,bottas,alfa,8,21,Finished
37,2022,4,imola,20,8,1,kevin_magnussen,haas,4,21,Finished
38,2022,4,imola,14,9,0,alonso,alpine,5,21,Finished
39,2022,4,imola,47,10,0,mick_schumacher,haas,12,21,Finished
40,2022,4,imola,63,11,0,russell,mercedes,11,21,Finished
41,2022,4,imola,22,12,0,tsunoda,alphatauri,16,21,Finished
42,2022,4,imola,5,13,0,vettel,aston_martin,9,21,Finished
43,2022,4,imola,44,14,0,hamilton,mercedes,13,21,Finished
44,2022,4,imola,18,15,0,stroll,aston_martin,15,21,Finished
45,2022,4,imola,31,16,0,ocon,alpine,19,21,Finished
46,2022,4,imola,10,17,0,gasly,alphatauri,17,21,Finished
47,2022,4,imola,23,18,0,albon,williams,20,21,Finished
48,2022,4,imola,6,19,0,latifi,williams,18,21,Finished
49,2022,4,imola,24,20,0,zhou,alfa,0,0,Retired
50,2022,11,red_bull_ring,1,1,8,max_verstappen,red_bull,1,23,Finished
51,2022,11,red_bull_ring,16,2,7,leclerc,ferrari,2,23,Finished
52,2022,11,red_bull_ring,55,3,6,sainz,ferrari,3,23,Finished
53,2022,11,red_bull_ring,63,4,5,russell,mercedes,4,23,Finished
54,2022,11,red_bull_ring,11,5,4,perez,red_bull,13,23,Finished
55,2022,11,red_bull_ring,31,6,3,ocon,alpine,5,23,Finished
56,2022,11,red_bull_ring,20,7,2,kevin_magnussen,haas,6,23,Finished
57,2022,11,red_bull_ring,44,8,1,hamilton,mercedes,9,23,Finished
58,2022,11,red_bull_ring,47,9,0,mick_schumacher,haas,7,23,Finished
59,2022,11,red_bull_ring,77,10,0,bottas,alfa,12,23,Finished

CLASE PASADA (30-1-2023)

In [146]:
pd.DataFrame(sprint).to_csv('Sprint',index=False)

### Tabla de status

In [155]:
url='http://ergast.com/api/f1/2022/status.json'
response=requests.get(url)
jsonstatus=response.json()
#jsonstatus['MRData']['StatusTable']['Status']

In [222]:
status= {'season':[],
         'statusId':[],
         'count':[],
          'status':[]
        }

In [223]:
for year in list(range(2010,2023)):
    url= 'http://ergast.com/api/f1/{}/status.json'
    responsestatus=requests.get(url.format(year))
    jsonstatus=responsestatus.json()
    for i in jsonstatus['MRData']['StatusTable']['Status']:
        status['season'].append(year)
        status['statusId'].append(int(i['statusId']))
        status['count'].append(int(i['count']))
        status['status'].append(str(i['status']))

In [224]:
pd.DataFrame(status)

     season  statusId  count            status
0      2010         1    212          Finished
1      2010         3     17          Accident
2      2010         4     25         Collision
3      2010         5     13            Engine
4      2010         6      9           Gearbox
..      ...       ...    ...               ...
356    2022       103      1        Water pump
357    2022       130     12  Collision damage
358    2022       131      6        Power Unit
359    2022       140      2         Undertray
360    2022       141      1    Cooling system

[361 rows x 4 columns]

In [225]:
pd.DataFrame(status).to_csv('status', index='False')

### Tabla de results

In [156]:
url='http://ergast.com/api/f1/2012/results.json'
response=requests.get(url)
jsonresults=response.json()
#jsonresults['MRData']['RaceTable']['Races']

In [147]:
results= {#'year':[],
            'season':[],#.append(int(i['season']))
            'round':[],#.append(int(i['round']))
            'raceId':[],#.append(i['raceName']) 
            'driverId':[],#.append(results1['Driver']['driverId'])
            'position':[],#.append(results1['position'])
            'grid':[],#.app<end(results1['grid'])
            'status':[],#.append(results1['status'])
            'constructorId':[],#.append(results1['Constructor']['constructorId'])
            'laps':[],#.append(results1['laps'])
            #'fastestLap':[]
         }

In [148]:
pd.DataFrame(results)

Empty DataFrame
Columns: [season, round, raceId, driverId, position, grid, status, constructorId, laps]
Index: []

In [149]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/results.json'
    responseresults = requests.get(url.format(year))
    jsonresults=responseresults.json()
    for i in jsonresults['MRData']['RaceTable']['Races']:
           for results1 in i['Results']:
       # results['year'].append(year)
            results['season'].append(int(i['season']))
            results['round'].append(int(i['round']))
            results['raceId'].append(i['raceName']) 
            results['driverId'].append(results1['Driver']['driverId'])
            results['position'].append(results1['position'])
            results['grid'].append(results1['grid'])
            results['status'].append(results1['status'])
            results['constructorId'].append(results1['Constructor']['constructorId'])
            results['laps'].append(results1['laps'])
           # results['fastestLap'].append(results1['FastestLap']['Time']['time'])

In [152]:
pd.DataFrame(results).to_csv('results', index = False)

In [150]:
pd.DataFrame(results)

,season,round,raceId,driverId,position,grid,status,constructorId,laps
0,2010,1,Bahrain Grand Prix,alonso,1,3,Finished,ferrari,49
1,2010,1,Bahrain Grand Prix,massa,2,2,Finished,ferrari,49
2,2010,1,Bahrain Grand Prix,hamilton,3,4,Finished,mclaren,49
3,2010,1,Bahrain Grand Prix,vettel,4,1,Finished,red_bull,49
4,2010,1,Bahrain Grand Prix,rosberg,5,5,Finished,mercedes,49
...,...,...,...,...,...,...,...,...,...
385,2022,2,Saudi Arabian Grand Prix,ocon,6,5,Finished,alpine,50
386,2022,2,Saudi Arabian Grand Prix,norris,7,11,Finished,mclaren,50
387,2022,2,Saudi Arabian Grand Prix,gasly,8,9,Finished,alphatauri,50
388,2022,2,Saudi Arabian Grand Prix,kevin_magnussen,9,10,Finished,haas,50
389,2022,2,Saudi Arabian Grand Prix,hamilton,10,15,Finished,mercedes,50

### Tabla de pitStops

In [201]:
pitstops={'season':[],#season
         'round':[],#round
         'raceId':[],#raceName}
          'circuitId':[],
        'driverId':[],#driverId
          'lap':[],#lap
          'stop':[],#stop
          'time':[],
          'duration':[]
         }

In [148]:
#Número de carreras que hubo en cada temporada +1 ya que toma el límite superior como un si fuera un conjunto abierto
CARRERAS={
int('2010'):20,
int('2011'):20,
int('2012'):21,
int('2013'):20,
int('2014'):20,
int('2015'):20,
int('2016'):22,
int('2017'):21,
int('2018'):22,
int('2019'):22,
int('2020'):18,
int('2021'):23,
int('2022'):23
}
list(range(1,CARRERAS[2022]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [157]:
urlk='http://ergast.com/api/f1/2020/16/pitstops.json'
responsepits=requests.get(urlk)
jsonpits=responsepits.json()
#jsonpits

#jsonpits['MRData']['RaceTable']['Races']

In [202]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}'
    url1 = url.format(year)
    for season in list(range(1,CARRERAS[year])):
        url2='/{}/pitstops.json'
        url3= url2.format(season)
        url4=url1+ url3        
        responseps = requests.get(url4)
        jsonpitstops=responseps.json()
        for i in jsonpitstops['MRData']['RaceTable']['Races']:
            for ps in i['PitStops']:
                try:
                    pitstops['season'].append(int(i['season']))
                    pitstops['round'].append(int(i['round']))
                    pitstops['raceId'].append(i['raceName'])
                    pitstops['circuitId'].append(i['Circuit']['circuitId'])
                    pitstops['driverId'].append(ps['driverId'])
                    pitstops['lap'].append(ps['lap'])
                    pitstops['stop'].append(ps['stop'])
                    pitstops['time'].append(ps['time'])
                    pitstops['duration'].append(ps['duration'])
                except:
                    #pitstops['season'].append(None)
                    #pitstops['round'].append(None)
                    #pitstops['raceId'].append(None)
                    pitstops['driverId'].append(None)
                    pitstops['lap'].append(None)
                    pitstops['stop'].append(None)
                    pitstops['time'].append(None)
                    pitstops['duration'].append(None)

In [203]:
pd.DataFrame(pitstops)

,season,round,raceId,circuitId,driverId,lap,stop,time,duration
0,2011,1,Australian Grand Prix,albert_park,alguersuari,1,1,17:05:23,26.898
1,2011,1,Australian Grand Prix,albert_park,michael_schumacher,1,1,17:05:52,25.021
2,2011,1,Australian Grand Prix,albert_park,webber,11,1,17:20:48,23.426
3,2011,1,Australian Grand Prix,albert_park,alonso,12,1,17:22:34,23.251
4,2011,1,Australian Grand Prix,albert_park,massa,13,1,17:24:10,23.842
...,...,...,...,...,...,...,...,...,...
6626,2022,22,Abu Dhabi Grand Prix,yas_marina,russell,39,2,18:02:44,27.931
6627,2022,22,Abu Dhabi Grand Prix,yas_marina,latifi,38,2,18:02:50,25.174
6628,2022,22,Abu Dhabi Grand Prix,yas_marina,stroll,40,2,18:04:44,21.802
6629,2022,22,Abu Dhabi Grand Prix,yas_marina,ocon,41,2,18:06:09,21.734
6630,2022,22,Abu Dhabi Grand Prix,yas_marina,norris,42,2,18:07:36,21.559

In [204]:
pd.DataFrame(pitstops).to_csv('pitstops', index = False)

## tabla de lapTimes

In [195]:
laptimes= {'season':[],#season
         'round':[],#round
         'raceId':[],#raceName}
          'circuitId':[],
           'numberofLap':[],
        'driverId':[],#driverId
          'position':[],#lap
          'time':[]
         }

In [205]:
for year in list(range(2010,2023)):
    urlap='http://ergast.com/api/f1/{}'
    urlap1=urlap.format(year)
    for race in list(range(1,CARRERAS[year])):
        urlrace='/{}/laps.json'
        urlrace1=urlrace.format(race)
        urlt=urlap1+urlrace1
        responselaps=requests.get(urlt)
        jsonlaps=responselaps.json()    
        for i in jsonlaps['MRData']['RaceTable']['Races']:
            for time1 in i['Laps']:
                for timings in time1['Timings']:
                    laptimes['season'].append(int(i['season']))
                    laptimes['round'].append(int(i['round']))
                    laptimes['raceId'].append(i['raceName'])
                    laptimes['circuitId'].append(i['Circuit']['circuitId'])
                    laptimes['numberofLap'].append(time1['number'])
                    laptimes['driverId'].append(timings['driverId'])
                    laptimes['position'].append(timings['position'])
                    laptimes['time'].append(timings['time'])

In [210]:
jsonlaps['MRData']['RaceTable']['Races']
pd.DataFrame(laptimes)

,season,round,raceId,circuitId,numberofLap,driverId,position,time
0,2022,1,Bahrain Grand Prix,bahrain,1,leclerc,1,1:39.070
1,2022,1,Bahrain Grand Prix,bahrain,1,max_verstappen,2,1:40.236
2,2022,1,Bahrain Grand Prix,bahrain,1,sainz,3,1:41.006
3,2022,1,Bahrain Grand Prix,bahrain,1,hamilton,4,1:41.555
4,2022,1,Bahrain Grand Prix,bahrain,1,kevin_magnussen,5,1:42.333
...,...,...,...,...,...,...,...,...
8415,2022,22,Abu Dhabi Grand Prix,yas_marina,2,norris,6,1:31.693
8416,2022,22,Abu Dhabi Grand Prix,yas_marina,2,russell,7,1:31.786
8417,2022,22,Abu Dhabi Grand Prix,yas_marina,2,ocon,8,1:32.136
8418,2022,22,Abu Dhabi Grand Prix,yas_marina,2,vettel,9,1:32.324
8419,2022,22,Abu Dhabi Grand Prix,yas_marina,2,alonso,10,1:32.329

In [ ]:
pd.DataFrame(laptimes).to_csv('laptimes', index= False)

## Tabla de driver Standings

In [302]:
driverstandings={'season':[],
                'round':[],
                 'position':[],
                 'points':[],
                 'wins':[],
                 'driverId':[],
                 'constructorId':[]           
                }

In [303]:
for year in list(range(2010,2023)):
    urlds='http://ergast.com/api/f1/{}/driverStandings.json'
    responsestandings= requests.get(urlds.format(year))
    jsonds=responsestandings.json()
    for i in jsonds['MRData']['StandingsTable']['StandingsLists']:
            for cs in i['DriverStandings']:
                for c in cs['Constructors']:
                    driverstandings['season'].append(int(i['season']))
                    driverstandings['round'].append(int(i['round']))
                    driverstandings['position'].append(int(cs['position']))
                    driverstandings['points'].append(cs['points'])
                    driverstandings['wins'].append(cs['wins'])
                    driverstandings['driverId'].append(cs['Driver']['driverId'])
                    driverstandings['constructorId'].append(c['constructorId'])

In [312]:
pd.DataFrame(driverstandings)

     season  round  position points wins    driverId constructorId
0      2010     19         1    256    5      vettel      red_bull
1      2010     19         2    252    5      alonso       ferrari
2      2010     19         3    242    4      webber      red_bull
3      2010     19         4    240    3    hamilton       mclaren
4      2010     19         5    214    2      button       mclaren
..      ...    ...       ...    ...  ...         ...           ...
305    2022     22        18      6    0        zhou          alfa
306    2022     22        19      4    0       albon      williams
307    2022     22        20      2    0      latifi      williams
308    2022     22        21      2    0    de_vries      williams
309    2022     22        22      0    0  hulkenberg  aston_martin

[310 rows x 7 columns]

In [ ]:
pd.DataFrame(driverstandings).to_csv('DriverStandings', index= False)

## Tabla de constructor standings

In [322]:
constructorstandings={'season':[],
                'round':[],
                 'position':[],
                 'points':[],
                 'wins':[],
                 #'driverId':[],
                 'constructorId':[]           
                }

In [323]:
for year in list(range(2010,2023)):
    urlcs='http://ergast.com/api/f1/{}/constructorStandings.json'
    responsestandings= requests.get(urlcs.format(year))
    jsoncs=responsestandings.json()
    for i in jsoncs['MRData']['StandingsTable']['StandingsLists']:
            for cs in i['ConstructorStandings']:
                #for c in cs['Constructors']:
                    constructorstandings['season'].append(int(i['season']))
                    constructorstandings['round'].append(int(i['round']))
                    constructorstandings['position'].append(int(cs['position']))
                    constructorstandings['points'].append(cs['points'])
                    constructorstandings['wins'].append(cs['wins'])
                   # driverstandings['driverId'].append(c['Driver']['driverId'])
                    constructorstandings['constructorId'].append(cs['Constructor']['constructorId'])

In [324]:
pd.DataFrame(constructorstandings)

     season  round  position points wins constructorId
0      2010     19         1    498    9      red_bull
1      2010     19         2    454    5       mclaren
2      2010     19         3    396    5       ferrari
3      2010     19         4    214    0      mercedes
4      2010     19         5    163    0       renault
..      ...    ...       ...    ...  ...           ...
134    2022     22         6     55    0          alfa
135    2022     22         7     55    0  aston_martin
136    2022     22         8     37    0          haas
137    2022     22         9     35    0    alphatauri
138    2022     22        10      8    0      williams

[139 rows x 6 columns]

In [325]:
pd.DataFrame(constructorstandings).to_csv('Constructors_Standings', index = False)