In [3]:
import requests
import json
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
url='https://ergast.com/api/f1/2010.json'
response= requests.get(url)
response.content

content=json.loads(response.content)

In [6]:
content.keys()


content
content['MRData'].keys()
content['MRData']['RaceTable']['Races']
json.loads(response.content)
content
content['MRData']['RaceTable']['Races']

[{'season': '2010',
  'round': '1',
  'url': 'http://en.wikipedia.org/wiki/2010_Bahrain_Grand_Prix',
  'raceName': 'Bahrain Grand Prix',
  'Circuit': {'circuitId': 'bahrain',
   'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
   'circuitName': 'Bahrain International Circuit',
   'Location': {'lat': '26.0325',
    'long': '50.5106',
    'locality': 'Sakhir',
    'country': 'Bahrain'}},
  'date': '2010-03-14',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '2',
  'url': 'http://en.wikipedia.org/wiki/2010_Australian_Grand_Prix',
  'raceName': 'Australian Grand Prix',
  'Circuit': {'circuitId': 'albert_park',
   'url': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
   'circuitName': 'Albert Park Grand Prix Circuit',
   'Location': {'lat': '-37.8497',
    'long': '144.968',
    'locality': 'Melbourne',
    'country': 'Australia'}},
  'date': '2010-03-28',
  'time': '06:00:00Z'},
 {'season': '2010',
  'round': '3',
  'url': 'http://en.wikipedia.org/wiki/2010_Malaysian_Grand_Prix',
  'raceName': 'Malaysian Grand Prix',
  'Circuit': {'circuitId': 'sepang',
   'url': 'http://en.wikipedia.org/wiki/Sepang_International_Circuit',
   'circuitName': 'Sepang International Circuit',
   'Location': {'lat': '2.76083',
    'long': '101.738',
    'locality': 'Kuala Lumpur',
    'country': 'Malaysia'}},
  'date': '2010-04-04',
  'time': '08:00:00Z'},
 {'season': '2010',
  'round': '4',
  'url': 'http://en.wikipedia.org/wiki/2010_Chinese_Grand_Prix',
  'raceName': 'Chinese Grand Prix',
  'Circuit': {'circuitId': 'shanghai',
   'url': 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit',
   'circuitName': 'Shanghai International Circuit',
   'Location': {'lat': '31.3389',
    'long': '121.22',
    'locality': 'Shanghai',
    'country': 'China'}},
  'date': '2010-04-18',
  'time': '06:00:00Z'},
 {'season': '2010',
  'round': '5',
  'url': 'http://en.wikipedia.org/wiki/2010_Spanish_Grand_Prix',
  'raceName': 'Spanish Grand Prix',
  'Circuit': {'circuitId': 'catalunya',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
   'circuitName': 'Circuit de Barcelona-Catalunya',
   'Location': {'lat': '41.57',
    'long': '2.26111',
    'locality': 'Montmeló',
    'country': 'Spain'}},
  'date': '2010-05-09',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '6',
  'url': 'http://en.wikipedia.org/wiki/2010_Monaco_Grand_Prix',
  'raceName': 'Monaco Grand Prix',
  'Circuit': {'circuitId': 'monaco',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
   'circuitName': 'Circuit de Monaco',
   'Location': {'lat': '43.7347',
    'long': '7.42056',
    'locality': 'Monte-Carlo',
    'country': 'Monaco'}},
  'date': '2010-05-16',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '7',
  'url': 'http://en.wikipedia.org/wiki/2010_Turkish_Grand_Prix',
  'raceName': 'Turkish Grand Prix',
  'Circuit': {'circuitId': 'istanbul',
   'url': 'http://en.wikipedia.org/wiki/Istanbul_Park',
   'circuitName': 'Istanbul Park',
   'Location': {'lat': '40.9517',
    'long': '29.405',
    'locality': 'Istanbul',
    'country': 'Turkey'}},
  'date': '2010-05-30',
  'time': '11:00:00Z'},
 {'season': '2010',
  'round': '8',
  'url': 'http://en.wikipedia.org/wiki/2010_Canadian_Grand_Prix',
  'raceName': 'Canadian Grand Prix',
  'Circuit': {'circuitId': 'villeneuve',
   'url': 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
   'circuitName': 'Circuit Gilles Villeneuve',
   'Location': {'lat': '45.5',
    'long': '-73.5228',
    'locality': 'Montreal',
    'country': 'Canada'}},
  'date': '2010-06-13',
  'time': '16:00:00Z'},
 {'season': '2010',
  'round': '9',
  'url': 'http://en.wikipedia.org/wiki/2010_European_Grand_Prix',
  'raceName': 'European Grand Prix',
  'Circuit': {'circuitId': 'valencia',
   'url': 'http://en.wikipedia.org/wiki/Valencia_Street_Circuit',
   'circuitName': 'Valencia Street Circuit',
   'Location': {'lat': '39.4589',
    'long': '-0.331667',
    'locality': 'Valencia',
    'country': 'Spain'}},
  'date': '2010-06-27',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '10',
  'url': 'http://en.wikipedia.org/wiki/2010_British_Grand_Prix',
  'raceName': 'British Grand Prix',
  'Circuit': {'circuitId': 'silverstone',
   'url': 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
   'circuitName': 'Silverstone Circuit',
   'Location': {'lat': '52.0786',
    'long': '-1.01694',
    'locality': 'Silverstone',
    'country': 'UK'}},
  'date': '2010-07-11',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '11',
  'url': 'http://en.wikipedia.org/wiki/2010_German_Grand_Prix',
  'raceName': 'German Grand Prix',
  'Circuit': {'circuitId': 'hockenheimring',
   'url': 'http://en.wikipedia.org/wiki/Hockenheimring',
   'circuitName': 'Hockenheimring',
   'Location': {'lat': '49.3278',
    'long': '8.56583',
    'locality': 'Hockenheim',
    'country': 'Germany'}},
  'date': '2010-07-25',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '12',
  'url': 'http://en.wikipedia.org/wiki/2010_Hungarian_Grand_Prix',
  'raceName': 'Hungarian Grand Prix',
  'Circuit': {'circuitId': 'hungaroring',
   'url': 'http://en.wikipedia.org/wiki/Hungaroring',
   'circuitName': 'Hungaroring',
   'Location': {'lat': '47.5789',
    'long': '19.2486',
    'locality': 'Budapest',
    'country': 'Hungary'}},
  'date': '2010-08-01',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '13',
  'url': 'http://en.wikipedia.org/wiki/2010_Belgian_Grand_Prix',
  'raceName': 'Belgian Grand Prix',
  'Circuit': {'circuitId': 'spa',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
   'circuitName': 'Circuit de Spa-Francorchamps',
   'Location': {'lat': '50.4372',
    'long': '5.97139',
    'locality': 'Spa',
    'country': 'Belgium'}},
  'date': '2010-08-29',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '14',
  'url': 'http://en.wikipedia.org/wiki/2010_Italian_Grand_Prix',
  'raceName': 'Italian Grand Prix',
  'Circuit': {'circuitId': 'monza',
   'url': 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
   'circuitName': 'Autodromo Nazionale di Monza',
   'Location': {'lat': '45.6156',
    'long': '9.28111',
    'locality': 'Monza',
    'country': 'Italy'}},
  'date': '2010-09-12',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '15',
  'url': 'http://en.wikipedia.org/wiki/2010_Singapore_Grand_Prix',
  'raceName': 'Singapore Grand Prix',
  'Circuit': {'circuitId': 'marina_bay',
   'url': 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
   'circuitName': 'Marina Bay Street Circuit',
   'Location': {'lat': '1.2914',
    'long': '103.864',
    'locality': 'Marina Bay',
    'country': 'Singapore'}},
  'date': '2010-09-26',
  'time': '12:00:00Z'},
 {'season': '2010',
  'round': '16',
  'url': 'http://en.wikipedia.org/wiki/2010_Japanese_Grand_Prix',
  'raceName': 'Japanese Grand Prix',
  'Circuit': {'circuitId': 'suzuka',
   'url': 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
   'circuitName': 'Suzuka Circuit',
   'Location': {'lat': '34.8431',
    'long': '136.541',
    'locality': 'Suzuka',
    'country': 'Japan'}},
  'date': '2010-10-10',
  'time': '06:00:00Z'},
 {'season': '2010',
  'round': '17',
  'url': 'http://en.wikipedia.org/wiki/2010_Korean_Grand_Prix',
  'raceName': 'Korean Grand Prix',
  'Circuit': {'circuitId': 'yeongam',
   'url': 'http://en.wikipedia.org/wiki/Korean_International_Circuit',
   'circuitName': 'Korean International Circuit',
   'Location': {'lat': '34.7333',
    'long': '126.417',
    'locality': 'Yeongam County',
    'country': 'Korea'}},
  'date': '2010-10-24',
  'time': '05:00:00Z'},
 {'season': '2010',
  'round': '18',
  'url': 'http://en.wikipedia.org/wiki/2010_Brazilian_Grand_Prix',
  'raceName': 'Brazilian Grand Prix',
  'Circuit': {'circuitId': 'interlagos',
   'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
   'circuitName': 'Autódromo José Carlos Pace',
   'Location': {'lat': '-23.7036',
    'long': '-46.6997',
    'locality': 'São Paulo',
    'country': 'Brazil'}},
  'date': '2010-11-07',
  'time': '16:00:00Z'},
 {'season': '2010',
  'round': '19',
  'url': 'http://en.wikipedia.org/wiki/2010_Abu_Dhabi_Grand_Prix',
  'raceName': 'Abu Dhabi Grand Prix',
  'Circuit': {'circuitId': 'yas_marina',
   'url': 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
   'circuitName': 'Yas Marina Circuit',
   'Location': {'lat': '24.4672',
    'long': '54.6031',
    'locality': 'Abu Dhabi',
    'country': 'UAE'}},
  'date': '2010-11-14',
  'time': '13:00:00Z'}]

In [7]:
races= {'season':[],#entero xxxxxxxxxx
       'round': [],#entero xxxxxxxxxxxxx
        'circuit_id':[],#letras y dentro de diccionario 'Circuit'
        'lat':[],#letras y dentro de diccionario'Circuit'- 'Location'
   'long': [],#letras y dentro de diccionario 'Circuit'-'Location'
   'country':[],#letras y dentro de diccionario 'Circuit''Location'
 'date': [],#fecha
 'FirstPractice': [],#Extraer fecha y dentro de diccionario 'FirstPractice'
 'SecondPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 'ThirdPractice': [],#Extraer fecha y dentro de diccionario 'SecondPractice'
 'Qualifying': [],#Extraer fecha y dentro de diccionario 'Qualifying'
        'url':[]#letra xxxxxxx
       }

In [8]:
i# sólo lo uso para ver si es correcto el valor
#i['FirstPractice']['date']
#i['Circuit']['circuitId']
#json['MRData']['RaceTable']['Races']
i['Qualifying']
i.keys()

NameError: name 'i' is not defined

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    json=response.json()
        
    for i in json['MRData']['RaceTable']['Races']:
        races['season'].append(int(i['season']))
        races['round'].append(int(i['round']))
        races['circuit_id'].append(i['Circuit']['circuitId'])
        races['lat'].append(i['Circuit']['Location']['lat'])
        races['long'].append(i['Circuit']['Location']['long'])
        races['country'].append(i['Circuit']['Location']['country'])
        races['date'].append(i['date'])
        races['url'].append(i['url'])
        try:
            races['FirstPractice'].append(i['FirstPractice']['date'])
            races['SecondPractice'].append(i['SecondPractice']['date'])
            races['ThirdPractice'].append(i['ThirdPractice']['date'])
            races['Qualifying'].append(i['Qualifying']['date'])
        except:
            races['FirstPractice'].append(None)
            races['SecondPractice'].append(None)
            races['ThirdPractice'].append(None)
            races['Qualifying'].append(None)

In [4]:
pd.DataFrame(races)

NameError: name 'races' is not defined

In [1]:
#df_results_2022=pd.DataFrame()

#for race in list(range(1,23)):
    
 #  url='http://ergast.com/api/f1/2022/{}/results.json'
  # response=requests.get(url.format(race))
   #content=json.loads(response.content)


   #df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

CLASE PASADA (30-1-2023)

In [36]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [6]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [7]:
df_results_2022['points']=df_results_2022['points'].astype(int)
df_results_2022['position']=df_results_2022['position'].astype(int)

In [8]:
df_results_2022.groupby(['Driver']).agg({'points':'sum','position':'min'}).sort_values(by='points',ascending=False)

                 points  position
Driver
max_verstappen      433         1
perez               291         1
leclerc             291         1
russell             262         1
hamilton            233         2
sainz               228         1
norris              116         3
ocon                 89         4
alonso               81         5
bottas               47         5
vettel               37         6
ricciardo            34         5
gasly                23         5
kevin_magnussen      21         5
stroll               18         6
tsunoda              12         7
mick_schumacher      12         6
zhou                  6         8
albon                 4         9
latifi                2         9
de_vries              2         9
hulkenberg            0        12

In [9]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [10]:
df_results_2022.groupby(['Constructor']).agg({'points':'sum','position':'min'}).sort_values(by='points',ascending=False)

              points  position
Constructor
red_bull         724         1
ferrari          519         1
mercedes         495         1
alpine           170         4
mclaren          150         3
aston_martin      55         6
alfa              53         5
alphatauri        35         5
haas              33         5
williams           8         9

In [ ]:
content